.Container {
  margin: 0px 8rem;
}
.Todo-Header {
  text-align: center;
}
.Input__Section {
  border: 1px solid gray;
  margin: 0px 10rem;
  overflow: hidden;
}

.Todo__Flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.Todo__Input {
  width: 59%;
  border-radius: 5px;
  height: 2.5rem;
  border: 2px solid gray;
}
.Input__Icon {
  background-color: rgb(64, 135, 241);
  padding: 0.5rem;
}

.Button__section {
  /* margin: 1rem 6.2rem; */
}

.Btn {
  background-color: green;
  border-radius: 5px;
  margin: 1rem 0px 2rem 8.5rem;
  padding: 0.7rem;
  width: 65%;
  color: white;
  border: none;
  cursor: pointer;
}

/* *******************************************
            Todo List Section
*******************************************             */
.TodoList__Box {
  display: flex;
  border: 1px solid gray;
  margin: 0px 10rem;
  padding: 0.2rem 5rem;
  justify-content: space-between;
  align-items: center;
}

.Clear__List {
  padding: 0.8rem;
  background-color: red;
  margin: 2rem 10rem;
  text-align: center;
  color: white;
  width: 70%;
  border-radius: 5px;
}
